body {
  font-family: 'Open Sans', sans-serif;
}
/* landing page */
.land-page {
  min-height: 100vh;
  background-image: url(../Imges/5.jpg);
  background-size: cover;
}
.land-page .overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
/* landing page */
