/* Global */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {clear: both;}
/* Global */
/* -------------------- */
/* header */
.my-header {
  background: #efe9cc;
  color: cornflowerblue;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
/* header */
/* --------------------- */
/* navigation */
nav {background: #eadea6;text-align: center;}
nav ul {padding: 20px; }
nav ul li{display: inline-block; color: #2c003e; font-family: 'Big Shoulders Display', cursive;}
nav ul li:after{content: " /";} 
nav ul li:last-child:after{content: "";}
/* navigation */
/* -------------------- */
/* Main  */
main{background: f6cd90;padding: 20px;}
main p {text-align: center;}
/* Main  */
/* -------------------- */
/* Articles */
.post{width: 70%; float: left;}
.post article {
  margin: 20px;
  padding: 10px;
  border: 2px solid cornflowerblue;
}
.post article header {background: #deb881;padding: 5px;}
.post article section{background:#efe9cc; padding: 5px;}
/* Articles */
/* -------------------- */
/* sidebar */
aside{float: right; width: 30%;margin: 20px auto;}
aside section {padding: 5px;margin-bottom: 20px;border: 2px solid cornflowerblue;}
aside h3{background-color: #deb881;padding: 5px 5px;}
aside section ul {list-style: none;padding: 5px;line-height: 20px;}
.meters meter{margin-top: 5px;}
.meters details{padding-top: 10px;}

/* sidebar */
/* -------------------- */
/* footer */
footer {text-align: center;}
/* footer */
/* -------------------- */
figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

img {
  max-width: 220px;
  max-height: 150px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
/* datalist */
label {
  font-family: "Fira Sans", sans-serif;
}
/* datalist */
/* -------------------- */